@font-face
{
  font-family: Bariol;
  src: url(../fonts/Bariol_Thin.eot);
  src: local(""),url(../fonts/Bariol_Thin.eot?#iefix) format("embedded-opentype"),url(../fonts/Bariol_Thin.woff) format("woff"),url(../fonts/Bariol_Thin.ttf) format("truetype"),url(../fonts/Bariol_Thin.svg#a66bfc814a7024505b82780ed96be4fb) format("svg");
  font-style: normal;
  font-weight: 200
}
@font-face
{
  font-family: Bariol;
  src: url(../fonts/Bariol_Light.eot);
  src: local(""),url(../fonts/Bariol_Light.eot?#iefix) format("embedded-opentype"),url(../fonts/Bariol_Light.woff) format("woff"),url(../fonts/Bariol_Light.ttf) format("truetype"),url(../fonts/Bariol_Light.svg#4c3c7ba7e70ad8fe925f149fe83c11d7) format("svg");
  font-style: normal;
  font-weight: 300
}
@font-face
{
  font-family: Bariol;
  src: url(../fonts/Bariol-Regular.eot);
  src: local(""),url(../fonts/Bariol-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/Bariol-Regular.woff) format("woff"),url(../fonts/Bariol-Regular.ttf) format("truetype"),url(../fonts/Bariol-Regular.svg#d67becf5de89115118c397ed4bae7ff0) format("svg");
  font-style: normal;
  font-weight: 400
}
@font-face
{
  font-family: Bariol;
  src: url(../fonts/Bariol_Bold.eot);
  src: local(""),url(../fonts/Bariol_Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/Bariol_Bold.woff) format("woff"),url(../fonts/Bariol_Bold.ttf) format("truetype"),url(../fonts/Bariol_Bold.svg#919e9885cec3eeabc9f721776998b7ef) format("svg");
  font-style: normal;
  font-weight: 700
}