#menu-top.active {
	opacity: 1;
}

#menu-top.scrolling {
	opacity: 1;
	background-color: #fff !important;
  box-shadow: 2px 0 2px rgba(0,0,0,0.3);
  
	/*.mobile-logo {
	  display: block;
	  margin: 0 auto;
	  position: relative;
	  top: 11px;
	}*/
	.hamburger-icon {color: #333;}
	.logo {
	  background-image: url(../img/w_logo.png);
	  background-size: 50%;
	}
	.nav-link {
    color: #666;
	}
}


#menu-top {
	.hamburger-icon {
    color: #fff;
    position: absolute;
    font-size: 2em;
    height: 100%;
    padding: .3em .5em;
    display: block;
	}
	
	.logo {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: block;
    vertical-align: top;
    margin: 0 auto;
    background-size: contain;
    width: 6em;
    height: 76px;
    background-image: url(../img/logo_white.png);
	}
	
	background-color: rgba(0,0,0,.7);
	position: fixed;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 0;
  width: 100%;
  z-index: 200;
  background-color: rgba(0,0,0,0.4);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  height: 76px;
  
  @media (min-width: 960px) {
  	nav li .nav-link::after {
	    content: "";
	    width: 0;
	    height: 0;
	    left: 50%;
	    -webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    transform: translateX(-50%);
	    bottom: 0;
	    position: absolute;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-bottom: 10px solid transparent;
	    -webkit-transition: border-color 300ms linear;
	    transition: border-color 300ms linear;
		}
		nav li .nav-link:hover::after {
    	border-bottom-color: rgba(200,200,200,0.5)
  	}
		
  	nav li .nav-link {
	    font-family: Bariol;
	    color: #fff;
	    font-weight: 700;
	    font-size: 1.3em;
	    height: 76px;
	    line-height: 76px;
	    display: block;
	    cursor: pointer;
	    position: relative;
		}
  	
		.hamburger-icon {display: none;}
		nav>ul {
	    text-align: justify;
	    -moz-text-align-last: justify;
	    -webkit-text-align-last: justify;
	    text-align-last: justify;
	    line-height: 76px;
		}
		
		nav li {
			display: inline-block;
			vertical-align: top;
		}
		.mobile-logo {
  		display: none
		}
	}
}