.lpTContainer {
	position: relative;
	width: auto;
	//display: inline-block;
	
	.lpTt {
		position: absolute;
		font-size: 20px;
		-webkit-transition: all 0.4s ease-in-out;
	  -moz-transition: all 0.4s ease-in-out;
	  -o-transition: all 0.4s ease-in-out;
	  transition: all 0.4s ease-in-out;
		
		@media screen and (max-width: 720px) {
			background: #f08800;
			color: #fff;
			padding: 10px;	
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
		}
		@media screen and (min-width: 721px) {
			color: #333;	
		}
	}
	
	.lpTImage {
		display: inline-block;
		overflow: visible;
		position: relative;
		@media screen and (max-width: 720px) {
			margin-bottom: 30px;	
		}
	}
	
	#lpArrow {
		@media screen and (max-width: 720px) {
			display: none;	
		}
		-webkit-transition: all 0.4s ease-in-out;
	  -moz-transition: all 0.4s ease-in-out;
	  -o-transition: all 0.4s ease-in-out;
	  transition: all 0.4s ease-in-out;
		position: absolute;
		width: 77px;
		height: 55px;
	}	
	#lpArrow.right-v {
		background: url(../img/arrow-tool.png) no-repeat;
	}
	
	#lpArrow.bottom-right-h {
		background: url(../img/arrow-tool-right-down.png) no-repeat!important;	
	}
	
	#lpArrow.left-v {
		background: url(../img/arrow-tool-left.png) no-repeat;
	}
	
	#lpArrow.bottom-left-h {
		background: url(../img/arrow-tool-left-down.png) no-repeat!important;
	}
	
}