body {
	overflow-x: hidden;
}

.page {
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 0 0 20px 0;
	
	h3, h2 {
		color: #f08800;
		text-align: center;
		font-family: Bariol;
    font-weight: 700;
	}
	
	h2 {
		padding-top: 80px;
		font-size: 43px;
	}
	
	h3 {
		font-size: 25px;
		padding-bottom: 20px;
	}
}

h1 {
	color: #fff;
	text-align: center;
	font-family: Bariol;
  font-weight: 700;
  @media screen and (min-width: 960px) {
	  font-size: 70px;
	  padding-bottom: 25px;
	}
}

.page-content {
	position: relative;
	width: 100%;
	@media screen and (min-width: 960px) {
		padding: 60px;
	}
	@media screen and (max-width: 959px) {
		padding: 30px;
	}
	p {
		color: #fff;
		font-family: Bariol;
    font-weight: 700;
    text-align: center;
    @media screen and (min-width: 960px) {
    	font-size: 33px;
    }
    
    @media screen and (max-width: 959px) {
    	font-size: 20px;
    }
	}
}
@media screen and (min-width: 960px) {
	.page-content.arrow-right:after {
		position: absolute;
		right: -117px;
	  top: -28px;
		content: "";
		background: url(../img/arrow-right.png) no-repeat;
		width: 313px;
		height: 216px;
	}

	.page-content.arrow-left:before {
		position: absolute;
		left: -117px;
	  bottom: -7px;
		content: "";
		background: url(../img/arrow-left.png) no-repeat;
		width: 302px;
		height: 134px;
	}
}

.orange {background: #f08800;}
.borange {background: #f05a23;}
.blue {background: #00bce7;}
.pblue {background: #23abc1;}
.bblue {background: #11828e;}
.grey {background: #eeeded;}

.slogan {
	position: absolute;
	h1 {
		display: inline;
		text-shadow: 0px 0px 26px rgba(150, 150, 150, 1);
		-webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #848484;
	}
}

.page1 {
	background: url(../img/page1_1600.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	.slogan {
		right: 5%;
		top: 20%;
	}
}

.page2 {
	background: url(../img/boy_bulldoze.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	.slogan {
		left: 5%;
		bottom: 5%;
	}
}

.pill-background {
	position: absolute;
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	border-radius: 70px;
	width: calc(100% - 50px);
  height: 85%;
  margin: 18px 10px 10px 10px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.94);
	-moz-box-shadow:    0px 0px 25px 0px rgba(50, 50, 50, 0.94);
	box-shadow:         0px 0px 25px 0px rgba(50, 50, 50, 0.94);
}


.pblue:hover {
	background: #1e8fa4;
}

.orange:hover {
	background: #c47100;
}



.pill {
	-webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

	position: relative;
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	border-radius: 70px;
	padding: 10px;
	margin: 10px;
	
	a:hover {
		text-decoration: none;
		
	}
	
	h2 {
		text-align: center;
		color: #fff;
		font-family: Bariol;
    font-weight: 700;
    @media screen and (min-width: 960px) {
    	font-size: 40px;
    }
    
    @media screen and (max-width: 959px) {
    	font-size: 24px;
    }
	}
	
	p {
		@media screen and (min-width: 960px) {
			font-size: 28px;
		}
		margin-bottom: 0;
	}
}

.page-center {
	margin-top: 15%;
	text-align: center;
}

.hidden {
	position: relative;
	display: none;
}

.img-responsive, .figure > img, .carousel-inner > .carousel-item > img,
.carousel-inner > .carousel-item > a > img {
  max-width: 100%;
  height: auto;
}

.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow: 
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
}

.mobile-nav {
  width: 75%;
  max-width: 250px;
  height: 100%;
  position: fixed;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #f2f2f2;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 800;
  line-height: 1.6;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.navExpand {transform: translateX(0px);}

.navbar {
	@media screen and (max-width: 959px) {
   	display: none;
  }		
}

.nav-items {
	padding: 10px;
}